<div class="wrapper">
    <div class="app-theme">
        <div class="title">
            <h2>This Feels Right AI Demo.</h2>
        </div>

        <div class="container">
            <div class="main-content">
                <form [formGroup]="demoForm" action="javascript:void(0)">
                    <mat-form-field class="question w-full">
                        <mat-label>Question</mat-label>
                        <input matInput type="text" formControlName="question">
                        @if (demoForm.get('question')?.value) {
                            <button matSuffix mat-icon-button (click)="search()">
                                <mat-icon>search</mat-icon>
                            </button>
                        }
                        @if (loading) {
                            <mat-progress-bar class="loading" mode="indeterminate"></mat-progress-bar>
                        }
                    </mat-form-field>

                    <div class="answer w-full">
                        @if (showAnswer) {
                            @if ((generalSummary) !== '') {
                                <mat-card class="general-summary w-full">
                                    <mat-card-content #generalSummaryContent class="line-clamp">
                                        <pre>{{ generalSummary }}</pre>
                                    </mat-card-content>
                                    @if (showMoreBtn && generalSummary !== '') {
                                        <mat-card-actions align="end">
                                            <button mat-button class="btn-show-more" (click)="showMore()">Show More</button>
                                        </mat-card-actions>
                                    }
                                </mat-card>
                            }

                            <mat-list class="brief-summaries w-full">
                                @for (item of (summaryList$ | async); track item) {
                                    <mat-list-item>
                                        <span matListItemTitle><a [href]="item.link" target="_blank">{{ item.title }}</a></span>
                                            {{ item.summary }}
                                    </mat-list-item>
                                }
                            </mat-list>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>